<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume</title>
    <link rel="stylesheet" href="../static/css/about_me.css">
</head>
<body>
<div class="container">
    <div class="header">
        <div class="profile">
            <img src="../static/CV.jpg" alt="Profile Picture">
            <div class="profile-info">
                <h1>Mahdiar Mansouri</h1>
                <p><strong>Profile:</strong> Biotech-AI Researcher <br> Computer Vision Engineer</p>
                <p><strong>Email:</strong> mahdiarmansouri@gmail.com</p>
                <p><strong>Phone:</strong> +98 912 699 7377</p>
            </div>
        </div>
        <div class="about">
            <h2>About me</h2>
            <p>I am a dedicated Biotech-AI Researcher and Computer Vision Engineer with a passion for integrating
                biotechnology and artificial intelligence to drive innovative solutions. With over 2 years of
                experience in leading research teams and managing animal laboratories, I possess a deep understanding of both
                biotech techniques and AI technologies. My expertise includes DNA and RNA extraction, Real-Time PCR,
                electrophoresis, and proficiency in Python, Data Science & Machine Learning, Deep Learning, and
                Computer Vision. I thrive on tackling complex challenges and am committed to advancing the field through
                interdisciplinary collaboration and cutting-edge research.</p>
        </div>
    </div>
    <div class="skills">
        <h2>Skills</h2>
        <div class="skill">
            <span>Python</span>
            <div class="bar">
                <div class="progress" data-width="90"></div>
            </div>
        </div>
        <div class="skill">
            <span>Data Science & Machine Learning</span>
            <div class="bar">
                <div class="progress" data-width="85"></div>
            </div>
        </div>
        <div class="skill">
            <span>Deep Learning</span>
            <div class="bar">
                <div class="progress" data-width="75"></div>
            </div>
        </div>
        <div class="skill">
            <span>Computer Vision</span>
            <div class="bar">
                <div class="progress" data-width="80"></div>
            </div>
        </div>
    </div>
    <div class="resume-section">
        <h2>Resume</h2>
        <div class="section-content">
            <div class="resume-item summary">
                <h3>Summary</h3>
                <p>Mahdiar Mansouri</p>
                <p>Experienced Research and Development Specialist with over 2 years of expertise in leading
                    research teams and managing animal laboratories. Skilled in a variety of biotech techniques, including
                    animal modeling, blood sampling, and dissection. Proficient in Python, Data Science & Machine Learning,
                    Deep Learning, and Computer Vision, with multiple successful projects in these fields.
                    Experienced in conducting research, analyzing data, and publishing findings. A passionate researcher
                    dedicated to combining biotech and AI to drive innovative solutions and advancements in the field.</p>
                <p><br>
                    +98 912 699 7377<br>
                    mahdiarmansouri@gmail.com</p>
            </div>
            <div class="resume-item education">
                <h3>Education</h3>
                <div class="education-item">
                    <p><strong>Master of Microbial Biotechnology</strong></p>
                    <p>2022 - 2024</p>
                    <p>Shahid Beheshti University, Tehran, Iran</p>
                    <p>Graduated with distinction, specializing in Python, data science, and AI, with a focus on
                        computer vision.</p>
                </div>
                <div class="education-item">
                    <p><strong>Bachelor of Biotechnology</strong></p>
                    <p>2018 - 2022</p>
                    <p>Shahid Beheshti University, Tehran, Iran</p>
                    <p>Graduated with honors, specializing in biotech with skills in laboratory techniques, animal
                        modeling, and biotech product development and research.</p>
                </div>
            </div>
        </div>
        <div class="resume-item experience">
            <h3>Professional Experience</h3>
            <div class="experience-item">
                <h4>Shahid Beheshti University</h4>
                <p>Tehran, Tehran Province, Iran · On-site</p>
                <p><strong>Research Team Lead</strong> (Part-time)<br>
                    Oct 2018 - Aug 2021 · 2 yrs 11 mos</p>
                <ul>
                    <li>Lead a research team investigating the effect of naringenin in diabetic wound healing</li>
                    <li>Utilize animal models to simulate diabetic conditions and assess the efficacy of naringenin in
                        wound healing
                    </li>
                    <li>Collaborate with interdisciplinary teams to analyze data, draw conclusions, and publish
                        research findings
                    </li>
                </ul>
                <p><strong>Animal Laboratory Manager</strong> (Full-time)<br>
                    Apr 2019 - Jan 2021 · 1 yr 10 mos</p>
                <ul>
                    <li>Modeling of diabetic rats and mice</li>
                    <li>Oral gavage, Intraperitoneal injection</li>
                    <li>Blood sampling from tail and heart</li>
                    <li>Complete dissection</li>
                    <li>Burn wound modeling</li>
                    <li>Mating of laboratory rats and mice</li>
                </ul>
            </div>
            <div class="experience-item">
                <h4>GeneYakhte Iranian</h4>
                <p>Tehran, Tehran Province, Iran · On-site</p>
                <p><strong>Senior Production Specialist</strong> (Part-time)<br>
                    Dec 2019 - Aug 2020 · 9 mos</p>
                <ul>
                    <li>All stages of the production process, ensuring quality and efficiency</li>
                    <li>Collaborate closely with team members to optimize manufacturing protocols and production
                        targets
                    </li>
                </ul>
            </div>
            <div class="experience-item">
                <h4>Pastor Institute of Iran</h4>
                <p>Tehran, Tehran Province, Iran · On-site</p>
                <p><strong>Research Intern</strong> (Part-time)<br>
                    Oct 2018 - Apr 2019 · 7 mos</p>
                <ul>
                    <li>Laboratory of Regenerative Medicine & Biomedical Innovations</li>
                    <li>Participated in various experiments, including DNA & RNA extraction, electrophoresis and
                        centrifugation, under the guidance of experienced researchers
                    </li>
                    <li>Assisted in the implementation of protocols and procedures</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="keys_content">
        <button class="btn btn_main" onclick="window.location.href='/main';">Main Page</button>
    </div>
</div>
</body>
</html>
